/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#title {
	font-size: 3rem;
	color: white;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #555555;
	overflow: hidden;
}

#scoreContainer {
	display: flex;
	justify-content:space-evenly;
	align-items: center;
	width: 50vw;
	margin: 1.5vh;
}

.scoreText {
	font-size: 1.5rem;
	color: white;
}

#startGameBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	font-size: 3rem;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	cursor: pointer;
	background: #cccccc;
	width: 30vw;
	height: 30vh;
	border: 3px solid #888888;
}

#startGameBtn:hover {
	transform: translateX(-50%) translateY(-50%) scale(1.03);
}

#gameCanvas {
	width: 70vw;
	height: 70vh;
	max-width: 70vh;
	max-height: 70vw;
}

@media only screen and (max-height: 260px) {
	#startGameBtn {
		font-size: 1.5rem;
	}
}